<fieldset class='box tabular settings'>
  <legend><%= l("redmine_kanban.label_kanban") %></legend>

  <p>
    <label><%= l("redmine_kanban.label_lane_type") %></label>
    <%= select_tag('settings[lane_type]',
                   options_for_select([[l("redmine_kanban.label_none"), 'none'], [l("redmine_kanban.label_assignee"), 'assignee']], @settings['lane_type'].to_s)) %>
  </p>

  <p>
    <label><%= l("redmine_kanban.label_issue_limit") %></label>
    <%= text_field_tag 'settings[issue_limit]', @settings['issue_limit'], size: 10 %>
  </p>

  <p>
    <label><%= l("redmine_kanban.label_hidden_status_ids") %></label>
    <% IssueStatus.sorted.each do |st| %>
      <label class='inline'>
        <%= check_box_tag 'settings[hidden_status_ids][]',
                          st.id,
                          Array(@settings['hidden_status_ids']).map(&:to_i).include?(st.id) %>
        <%= st.name %>
      </label>
    <% end %>
  </p>

  <p>
    <label><%= l("redmine_kanban.label_wip_limit_mode") %></label>
    <%= select_tag('settings[wip_limit_mode]',
                   options_for_select([[l("redmine_kanban.label_mode_column"), 'column'], [l("redmine_kanban.label_mode_column_lane"), 'column_lane']], @settings['wip_limit_mode'].to_s)) %>
  </p>

  <p>
    <label><%= l("redmine_kanban.label_wip_exceed_behavior") %></label>
    <%= select_tag('settings[wip_exceed_behavior]',
                   options_for_select([[l("redmine_kanban.label_behavior_block"), 'block'], [l("redmine_kanban.label_behavior_warn"), 'warn']], @settings['wip_exceed_behavior'].to_s)) %>
  </p>

  <p>
    <label><%= l("redmine_kanban.label_wip_limits") %></label>
    <% limits = @settings['wip_limits'].is_a?(Hash) ? @settings['wip_limits'] : {} %>
    <% IssueStatus.sorted.each do |st| %>
      <span style='display:inline-block; min-width: 220px; margin-right: 8px;'>
        <%= st.name %>:
        <%= text_field_tag "settings[wip_limits][#{st.id}]", limits[st.id.to_s], size: 4 %>
      </span>
    <% end %>
    <em><%= l("redmine_kanban.label_unlimited_hint") %></em>
  </p>

  <p>
    <label><%= l("redmine_kanban.label_aging_warn_days") %></label>
    <%= text_field_tag 'settings[aging_warn_days]', @settings['aging_warn_days'], size: 4 %>
  </p>

  <p>
    <label><%= l("redmine_kanban.label_aging_danger_days") %></label>
    <%= text_field_tag 'settings[aging_danger_days]', @settings['aging_danger_days'], size: 4 %>
  </p>

  <p>
    <label><%= l("redmine_kanban.label_aging_exclude_closed") %></label>
    <%= check_box_tag 'settings[aging_exclude_closed]', '1', @settings['aging_exclude_closed'].to_s == '1' %>
  </p>
</fieldset>

<fieldset class='box tabular settings'>
  <legend><%= l("redmine_kanban.label_auto_update_title") %></legend>
  <div class="wiki">
    <p><%= l("redmine_kanban.label_auto_update_desc") %></p>
  </div>

  <table class="list">
    <thead>
    <tr>
      <th><%= l("redmine_kanban.label_target_status") %></th>
      <th><%= l("redmine_kanban.label_issue_done_ratio") %></th>
      <th><%= l("redmine_kanban.label_issue_start_date") %></th>
      <th><%= l("redmine_kanban.label_issue_due_date") %></th>
    </tr>
    </thead>
    <tbody>
    <%
      auto_updates = @settings['status_auto_updates'] || {}
      # Users, Priorities, Trackers for select options
      ratios = [[l("redmine_kanban.label_no_change"), '']] + (0..10).map { |i| ["#{i * 10}%", (i * 10).to_s] }
      dates = [[l("redmine_kanban.label_no_change"), '__no_change__'], [l("redmine_kanban.label_set_today"), '__today__'], [l("redmine_kanban.label_clear"), '']]
    %>
    <% IssueStatus.sorted.each do |status| %>
      <%
        sid = status.id.to_s
        attrs = auto_updates[sid] || {}
        ratios_opts = [[l("redmine_kanban.label_no_change"), '__no_change__']] + (0..10).map { |i| ["#{i * 10}%", (i * 10).to_s] }
      %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= status.name %></td>
        <td>
          <%= select_tag "settings[status_auto_updates][#{sid}][done_ratio]",
                         options_for_select(ratios_opts, attrs['done_ratio'] || '__no_change__') %>
        </td>
        <td>
          <%= select_tag "settings[status_auto_updates][#{sid}][start_date]",
                         options_for_select(dates, attrs['start_date'] || '__no_change__') %>
        </td>
        <td>
          <%= select_tag "settings[status_auto_updates][#{sid}][closed_on]",
                         options_for_select(dates, attrs['closed_on'] || '__no_change__') %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

